.leaflet-container {
    width: 100vw;
    height: 85vh;
}

.spin {
    z-index: 9200 !important;
}

.iconLegende {
    width: 50px;
    height: 50px;
}

.dateCss {

    z-index: 1000 !important;
}

.filtre {
    box-shadow: 4px 8px 20px 0px #777373;
    /* margin-bottom: 10px; */
    border-radius: 5px;
}

/* 
.leaflet-div-icon {
    background: transparent;
    border: none;
} */

/* 
.container {
    padding: 30px;
    padding-top: 10px;
    background-color: #e1dfdf;
} */

.boxMain {
    /* background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(221, 218, 218);
    margin-top: 45px; */
    /* width: 100%; */
    /* min-height: 800px; */
}

/* //////////\\///legende */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}