/* //itambarany  */
Col,
Row {
    padding: 0;
    margin: 0;
}

.container {
    padding: 30px;
    padding-top: 10px;
    background-color: #e1dfdf;
}


.ListProjet {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 11px grey;
    margin-top: 45px;
    width: 100%;
    min-height: 800px;
    /* display: flex; */
}

.containerListProjet{
    padding: 20px;
    display: flex;
}
.head{
    width: 100%;
    background-color: #ececec;
}
.projet{
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    /* border-radius: 10px; */
    box-shadow: 2px 2px 7px 3px #c4c4c4;
    /* justify-content: space-around; */
    margin: 20px;
    padding: 20px;
}
.projet:hover{
    /* position: relative; */
    /* background-color: #7367F0; */
    /* padding: 10px; */
    /* border-radius: 50px; */

    /* transform: rotate(360deg); */
    transform: scale(0.99, 0.99);
    box-shadow: 5px 8px 20px 3px #5f5d5d;
    transition-duration: 0.3s;
    cursor: pointer;

}
.boxSpinner{
    width: 40%;
    border-radius: 6px;
    margin: auto;
    height: 500px;
    text-align: center;
    background-color: #5f5d5d2e;
    box-shadow: 13px 15px 0px 0px #f0f0f0;
    padding-top: 200px;
}
